*{
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
  overflow: hidden;
}


.todo-app{
 
  align-items: flex-start;
  flex-direction: column;
  width: 45%;
  min-height: 600px;
  background: white;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;

}


.todo-form{
  margin-bottom: 32px;

}
.todo-input{

  padding: 14px 32px 14px  16px;
  border-radius:    4px 0  0 4px  ;
  border: 2px solid rgba(17,122,255,1);
  outline: none;
  width: 320px;
}
.todo-button{
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0 ;
  cursor: pointer;
  outline: none;
  background:linear-gradient( rgba(17,122,255,1)0%,
  rgba(20,159,255,1)100%);
  color: white;
  text-transform: capitalize;
}

.todo-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: white;
  background: linear-gradient(rgba(20,159,255,1)0%,
  rgba(17,122,255,1)100%);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.compeleted{
  color: rgb(1, 163, 1);
  background: white;
  border: 1px solid rgb(1, 163, 1);
}
.iconsContainer{
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
